<header>
    <div class="top-bar">
        <div class="container">
            <address class="contact-info">
                <span
                    ><i class="fas fa-phone" aria-hidden="true"></i>
                    <a href="tel:0977616391">0977616391</a></span
                >
                <span
                    ><i class="fas fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:info@ltvlaw.com">info@ltvlaw.com</a></span
                >
                <span
                    ><i class="far fa-clock" aria-hidden="true"></i> Thứ Hai -
                    Thứ Bảy 7:30 - 17:30</span
                >
            </address>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img
                        src="./image/thanh-lap-cong-ty-co-phan.jpg"
                        alt="Luật LTV Logo"
                    />
                </a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">VỀ LUẬT LTV</a></li>
                    <li class="has-submenu">
                        <a href="#"
                            >ĐỘI NGŨ LUẬT SƯ <i class="fas fa-chevron-down"></i
                        ></a>
                        <ul class="submenu">
                            <li><a href="#">Nhân Sự Pháp Lý</a></li>
                            <li><a href="#">Nhân Sự Vận Hành</a></li>
                        </ul>
                    </li>
                    <li><a href="#">DỊCH VỤ</a></li>
                    <li><a href="#">LĨNH VỰC</a></li>
                    <li><a href="#">KIẾN THỨC</a></li>
                    <li><a href="#">TUYỂN DỤNG</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                    <li class="language">
                        <a href="#"
                            ><img
                                src="./image/thanh-lap-cong-ty-co-phan.jpg"
                                alt="Tiếng Việt"
                        /></a>
                        <a href="#"
                            ><img
                                src="./image/thanh-lap-cong-ty-co-phan.jpg"
                                alt="English"
                        /></a>
                        <a href="#"
                            ><img
                                src="./image/thanh-lap-cong-ty-co-phan.jpg"
                                alt="中文"
                        /></a>
                    </li>
                    <li class="search-icon">
                        <a href="#"
                            ><i class="fas fa-search" aria-hidden="true"></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>
