<header>
    <div class="top-bar">
        <div class="container">
            <address class="contact-info">
                <span
                    ><i class="fas fa-phone" aria-hidden="true"></i>
                    <a href="tel:0977616391">0977616391</a></span
                >
                <span
                    ><i class="fas fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:info@ltvlaw.com">info@ltvlaw.com</a></span
                >
                <span
                    ><i class="far fa-clock" aria-hidden="true"></i> Thứ Hai -
                    Thứ Bảy 7:30 - 17:30</span
                >
            </address>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/logo/ltvnew.svg" alt="Luật LTV Logo" />
                </a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">VỀ LUẬT LTV</a></li>
                    <li><a href="#">ĐỘI NGŨ LUẬT SƯ</a></li>
                    <li class="has-submenu">
                        <a href="#"
                            >DỊCH VỤ <i class="fas fa-chevron-down"></i
                        ></a>
                        <ul class="submenu">
                            <li><a href="#">Bảo hộ nhãn hiệu</a></li>
                            <li><a href="#">Bản quyền tác giả</a></li>
                            <li>
                                <a href="#">Kiểu dáng công nghiệp</a>
                            </li>
                            <li><a href="#">Đăng ký sáng chế</a></li>
                            <li><a href="#">Đăng ký Mã số mã vạch</a></li>
                            <li><a href="#">Thành lập doanh nghiệp</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#"
                            >KIẾN THỨC <i class="fas fa-chevron-down"></i
                        ></a>
                        <ul class="submenu">
                            <li><a href="#">Sở hữu trí tuệ</a></li>
                            <li><a href="#">Pháp luật doanh nghiệp</a></li>
                            <li>
                                <a href="#">Mẫu văn bản pháp luật</a>
                            </li>
                            <li><a href="#">Tin tức ngành luật</a></li>
                        </ul>
                    </li>
                    <li><a href="#">TUYỂN DỤNG</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                    <li class="language">
                        <a href="#"
                            ><img
                                src="/img/language/vietnam.webp"
                                alt="Tiếng Việt"
                        /></a>
                        <a href="#"
                            ><img
                                src="/img/language/united-kingdom.webp"
                                alt="English"
                        /></a>
                        <a href="#"
                            ><img src="/img/language/china.webp" alt="中文"
                        /></a>
                    </li>
                    <li class="search-icon">
                        <a href="#"
                            ><i class="fas fa-search" aria-hidden="true"></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>
